body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    height: 100%;
    background-color: white;
    overflow-x: hidden;
    padding-top: 0;
}


.main {
    padding: 0px 0px;

}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        border-top-right-radius: 10%;
        border-bottom-right-radius: 10%;
        box-shadow: 20px #FFF;
    }

    .login-form{
        margin-top: 10%;
        margin-left: 20%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 0%;
    padding: 0px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 500;
    font-size: x-large;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}