{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trip-Z: Contact Us</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
  <nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand"><img src="{% static 'images/trip-z.png' %}" height=50px width=170px></a>

      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'recomnendations' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'aboutus' %}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contactus' %}">Contact Us</a>
        </li>

        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
            aria-expanded="false">Dashboard</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">My Profile</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Log Out</a></li>
          </ul>
        </li> -->
      </ul>

      <!--       <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
  <br> <br>

  <!--Section: Contact v.2-->
  <section class=" container mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-start my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-start w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us
      directly. Our team will come back to you within
      a matter of hours to help you.</p>

    <div class="row align-content-center">

      <div class="col-md-9 mb-md-0 mb-5 align-content-center">
        <form id="contact-form" name="contact-form" action="mail.php" method="POST">
          <div class="align-content-center">
            <div class="row">


              <div class="col-md-6">
                <div class="md-form mb-0">
                  <label for="name" class="">Your name</label>
                  <input type="text" id="name" name="name" class="form-control">

                </div>
              </div>
              <div class="col-md-6">
                <div class="md-form mb-0">
                  <label for="email" class="">Your email</label>
                  <input type="text" id="email" name="email" class="form-control">

                </div>
              </div>


            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="md-form mb-0">
                  <label for="subject" class="">Subject</label>
                  <input type="text" id="subject" name="subject" class="form-control">

                </div>
              </div>
            </div>
            <br>
            <div class="row">


              <div class="col-md-12">

                <div class="md-form align-items-start">
                  <label for="message">Your message</label>
                  <textarea type="text" id="message" name="message" rows="2"
                    class="form-control md-textarea"></textarea>

                </div>

              </div>
            </div>

            <br>
          </div>

        </form>

        <div class="text-center text-md-left">
          <a class="btn btn-danger" onclick="document.getElementById('contact-form').submit();">Send Message</a>
        </div>
        <div class="status"></div>
      </div>


    </div>

  </section>


  <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Log In</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form class = "d-flex" align = "center">
            <div class = "form-group">
              <label align = "left">Username or Email ID</label>
              <input class = "form-control" type = "text" placeholder = "Enter Username or Email ID" width = "70px">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
  </div> -->



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>

</html>