{% load static %}
<!Doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Trip-Z: Sign Up</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <link href="{% static '/css/signup.css' %}" rel="stylesheet" type="text/css">
</head>

<body background="{% static '/images/background.png' %}">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>

  <script>
    function validateForm() {
      var fnameRegex = /^[a-zA-Z]{2,50}$/;
      var fname = document.myform.fname.value;
      if (!fnameRegex.test(fname)) {
        alert('Please enter your correct first name!');
        document.myform.fname.focus();
        return false;
      }
      var lnameRegex = /^[a-zA-Z]{2,50}$/;
      var lname = document.myform.lname.value;
      if (!lnameRegex.test(lname)) {
        alert('Please enter your correct last name!');
        document.myform.lname.focus();
        return false;
      }

      // Get the value of the input field with id="email"
      var email = document.myform.email.value;

      // Regular expression to check if the email is in the correct format
      var emailRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
      // Check if the email is empty
      if (email == "") {
        alert("Email field must be filled out!");
        return false;
      }
      // Check if the email is in the correct format
      if (!emailRegex.test(email)) {
        alert("Please enter a valid email address!");
        return false;
      }

      var contact = document.myform.contact.value;
      var contactRegex = /^\d{10}$/;
      if (contact == "") {
        alert("Contact field must be filled out!");
        return false;
      }


      if (!contactRegex.test(contact)) {
        alert("Enter correct contact number!");
        return false;
      }


      var password = document.myform.pass.value;
      // Get the value of the input field with id="passwordConfirm"
      var passwordConfirm = document.myform.passconfirm.value;
      // Regular expression to check if the password is strong enough
      var passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/;
      // Check if the password is empty
      if (password == "") {
        alert("Password field must be filled out");
        return false;
      }
      // Check if the password is strong enough
      if (!password.match(passwordRegex)) {
        alert("Password must be at least 8 characters long and contain at least one lowercase letter, one uppercase letter, and one number.");
        return false;
      }
      // Check if the password confirmation is empty
      if (passwordConfirm == "") {
        alert("Password confirmation field must be filled out");
        return false;
      }
      // Check if the passwords match
      if (password != passwordConfirm) {
        alert("Passwords do not match!! Try again.");
        return false;
      }
      // If all checks pass, return true
      return true;
    }

  </script>

  <div class="sidenav">
    <div class="login-main-text">
      <!-- <h2 style = "color:cornflowerblue">Trip-Z</h2> -->
      <img src="{% static 'images/trip-z.png' %}" height="200px" width="200px" style="margin-left: 25%;">
      <img src="{% static 'images/signup-img.svg' %}" height="65%" width="65%" style="margin-left: 10%;">
      <h4 style="margin-left: 25%; font-size:large; color:coral; align-content: flex-end;">Find your trip
        companion now!</h4>
    </div>
  </div>
  <div class="main">
    <div class="col-md-8 col-sm-8">
      <div class="login-form">
        <form name="myform" method="post" action="#" onsubmit="return validateForm();">
          {% csrf_token %}
          <table>
            <tr>
              <td>
                <div class="form-group">
                  <label for="fname" style="color:aliceblue">First Name</label>
                  <input name="fname" type="text" class="form-control" placeholder="Enter your First Name" required>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label for="lname" style="color:aliceblue">Last Name</label>
                  <input name="lname" type="text" class="form-control" placeholder="Enter your Last Name" required>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="form-group">
                  <label for="email" style="color:aliceblue">Email ID</label>
                  <input  style = "width: 200%" name="email" type="text" class="form-control" placeholder="Enter Email ID" required>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="form-group">
                  <label for="username" style="color:aliceblue">Username</label>
                  <input name="username" type="text" class="form-control" placeholder="Enter Username" required>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label for="contact" style="color:aliceblue">Contact Number</label>
                  <input name="contact" type="text" class="form-control" placeholder="Enter Contact Number" required>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <label for="dob" style="color:aliceblue">Date of Birth</label>
                <input name="dob" type="date" class="form-control" placeholder="Enter date of birth" required>
              </td>
              <td>
                <label for="gender" style="color:aliceblue">Gender</label>
                <select name="gender" class="form-control" required>
                  <option>Female</option>
                  <option>Male</option>
                  <option>Rather not say</option>
                </select>

              </td>
            </tr>
            <tr>
              <td>
                <div class="form-group">
                  <label for="secques" style="color:aliceblue">Security Question</label>
                  <input name="secques" type="text" class="form-control" placeholder="Enter security question" required>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label for="secans" style="color:aliceblue">Security Answer</label>
                  <input name="secans" type="text" class="form-control" placeholder="Enter security answer" required>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="form-group">
                  <label for="city" style="color:aliceblue">City</label>
                  <input name="city" type="text" class="form-control" placeholder="Enter your current city" required>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label for="bio" style="color:aliceblue">Bio</label>
                  <input name="bio" type="text" class="form-control" placeholder="Enter your bio" required>
                </div>
              </td>
            </tr>

            <tr>
              <td>
                <div class="form-group">
                  <label for="pass" style="color:aliceblue">Password</label>
                  <input name="pass" type="password" class="form-control" placeholder="Enter password" required>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <label for="passconfirm" style="color:aliceblue">Confirm Password</label>
                  <input name="passconfirm" type="password" class="form-control" placeholder="Enter password again"
                    required>
                </div>
              </td>
            </tr>

          </table>

          <br>
          {% for message in messages %}
          <p style = "color: red;">{{message}}</p>
          {% endfor %}
          <button name="login" type="submit" class="btn btn-primary" align="justify-content">Sign Up</button>
          <div class="form-group">
            <label style="color:cornflowerblue">Already have an account?</label>
            <a href="{% url 'Login' %}" target="_self">
              <button type="button" class="btn btn-outline-primary">Log In Now!</button>
            </a>
        </form>
      </div>
    </div>
  </div>


</body>